<div class="vertical_menu">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/app_eval/<%=@post_id%>">서류평가</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/int_eval/<%=@post_id%>">면접평가</a>
      </li>
    </ul>
</div>
<div class="container devise_view">
    <h3 class="mb-3"><%= RecruitPost.find(@post_id).title %></h3><hr/>
    <h5>지원자 목록</h5>
       <div class="container">
          <div class="post_label mb-3 p-1 bg-dark col-sm-12 col-md-6"> 
            <span class="text-light">지원자 이름</span>
            <span class="text-light">면접 평가 점수</span>
            <span class="text-light">합격여부</span>
          </div>
        <% @applicants.each do |applicant| %>
            <div class="post_item mb-3 p-1 col-sm-12 col-md-6">
              <%@infos=ApplyInfo.where(recruit_post_id: @post_id)%>
              <% @infos.each do |info| %>
                <% if info.user_id == applicant.id%>
                  <% @app_num = info.recruit_application_id %>
                <% end %>
              <% end %>
              
   
                <span><a href="/eval_interview/<%=@app_num%>"><%= applicant.name %></a></span>
                <span><%= ApplyInfo.find_by(user:applicant.id).interview_eval_score %></span>
                <span><%= ApplyInfo.find_by(user:applicant.id).apply_result %></span>
            </div>
        <% end %>
        </div>
</div>

<script>
  $(document).ready(function () {
            var url = window.location.href;
            // console.log(url);
            $("a.nav-link").each(function() {
                console.log(this.href);
                if(url == (this.href)){
                    $(this).addClass("nav_active");
                }
            })
        });
</script>