<div class="vertical_menu">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/applying">지원한<br> 채용공고</a></a>
      </li>
    </ul>
</div>

<div class="container devise_view">
    <h2 class="mb-3">지원한 채용공고</h2>
    <hr/>
    <div class="container">
      <div class="post_label mb-2 bg-dark p-1">
        <span class="text-light">글번호</span>
        <span class="text-light">제목</span>
        <span class="text-light">진행상태</span>
        <span class="text-light">서류평가</span>
        <span class="text-light">면접평가</span>
        <span class="text-light">결과</span>
      </div>
      

      
<% if current_user %>
    <% @infos.each do |info| %>
        <% @posts=RecruitPost.where(id: info.recruit_post.id) %>
        <% @posts.each do |post| %>
            <div class="post_item mb-3 p-1">
          <span class="pl-2"><%= post.id %></span>
          <span><%= post.title %></span>
            <% if post.duedate > Time.now.to_datetime %>
              <span><a href="/edit_apply/<%=post.id%>" >지원중</a></span>
            <% else %>
              <span><%= info.status %></span>
            <% end %>
          <span><%= info.application_eval_score %></span>
          <span><%= info.interview_eval_score %></span>
          <span><%= info.apply_result %></span>
        </div>
        <% end %>
    <% end %>
<% end %>
      
    </div>
</div>

<script>
  $(document).ready(function () {
            var url = window.location.href;
            // console.log(url);
            $("a.nav-link").each(function() {
                console.log(this.href);
                if(url == (this.href)){
                    $(this).addClass("nav_active");
                }
            })
        });
</script>